# Telecom Data Analysis (Part 1: Data Collection)

<h3>1. Database Credentials:</h3>
<p>Use "mysql.connector" package in Python. </p>
<ul>
    <li>host	'cpanel.insaid.co'</li>
    <li>user	'student'</li>
    <li>passwd	'student'</li>
    <li>database	'Capstone1'</li>
</ul>

In [1]:
#!pip install mysql-connector-python
#!pip install MySQL-python #issue on Windows 10
#!pip install --only-binary :all: mysqlclient #This statement will include mysql client.
#!pip install pymysql

In [2]:
hostname = 'cpanel.insaid.co'
username = 'student'
password = 'student'
database = 'Capstone1'

In [3]:
import mysql.connector as mysql

In [4]:
db = mysql.connect(
    host = "cpanel.insaid.co",
    user = "student",
    passwd = "student",
    database = "Capstone1"
)

cursor = db.cursor()

In [5]:
cursor.execute("SHOW TABLES")

In [6]:
tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

In [ ]:
mysql.close()

# Dataframe with mysql database.

In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
engine = create_engine('mysql+mysqlconnector://student:student@cpanel.insaid.co/Capstone1')

In [13]:
dfEvent = pd.read_sql('SELECT * from events_data', engine)
dfEvent.to_csv(r'data\events_data.csv')
dfEvent.head()

OperationalError: (mysql.connector.errors.OperationalError) 2013 (HY000): Lost connection to MySQL server during query
[SQL: SELECT * from events_data]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [14]:
dfGenderAgeTrain = pd.read_sql('SELECT * from gender_age_train', engine)
dfGenderAgeTrain.to_csv(r'data\gender_age_train.csv')
dfGenderAgeTrain.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [ ]:
dfModel = pd.read_sql('SELECT * from phone_brand_device_model', engine)
dfModel.to_csv(r'data\phone_brand_device_model.csv')
dfModel.head()