<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT
## PORTUGUESE INSTITUTIONS BANK MARKETING (RECALL CASE)


##  Bank Marketing


**Abstract:** 
The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).

**Data Set Information:**
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. 

###  Source:

 - Dataset from : http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#
 
### FALSE POSITIVE & FALSE NEGATIVE AND IT'S IMPACT ON BUSINESS
__FALSE POSITIVE__ - The events which are __predicted__ to happen but they __don't occur in real life__. Here in the context of dataset and business involved, the false positive results in predicted term deposit by customers ont he basis of phone marketing, but they actually do not turn up to make the term deposit.<br/>
__FALSE NEGATIVE__ - The events which are __not predicted__ to happen but they __do occur in real life__. In this case the prediction is made as the customer will not be making term deposit but they do actually make the term deposit.

So, concluding from the above two case, we need to __cater/ lower down the False negative__ becasue in any business we cannot __assume__ customer will have prior knowledge of our products and services. Even though they know, we need to do the marketing in order to not loose a single customer .

### Import the dataset

In [1]:
import pandas as pd
bank = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/bank.csv')
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,blue-collar,married,basic.9y,no,no,yes,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,29,admin.,single,university.degree,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
2,50,management,married,university.degree,no,yes,yes,cellular,apr,fri,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
3,31,admin.,married,high.school,unknown,yes,no,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
4,32,admin.,single,high.school,no,yes,no,cellular,jun,tue,...,1,999,0,nonexistent,-2.9,92.963,-40.8,1.262,5076.2,yes

### Check the columns present in the dataset

In [2]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Check the shape of Dataset

In [3]:
bank.shape

(10297, 21)

### Check the descriptive statistics of the dataset

In [4]:
bank.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000,10297.000000
mean,40.080606,261.388268,2.561134,963.609692,0.171506,0.077256,93.574206,-40.445780,3.621923,5166.850442
std,10.472190,263.722874,2.827084,184.098592,0.496992,1.576732,0.577502,4.622221,1.734170,72.492914
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,327.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,94.000000,3643.000000,56.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

### Check the info of the dataset

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10297 entries, 0 to 10296
Data columns (total 21 columns):
age               10297 non-null int64
job               10297 non-null object
marital           10297 non-null object
education         10297 non-null object
default           10297 non-null object
housing           10297 non-null object
loan              10297 non-null object
contact           10297 non-null object
month             10297 non-null object
day_of_week       10297 non-null object
duration          10297 non-null int64
campaign          10297 non-null int64
pdays             10297 non-null int64
previous          10297 non-null int64
poutcome          10297 non-null object
emp.var.rate      10297 non-null float64
cons.price.idx    10297 non-null float64
cons.conf.idx     10297 non-null float64
euribor3m         10297 non-null float64
nr.employed       10297 non-null float64
y                 10297 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.6+ MB

### Count of Yes and No for the term deposit

In [6]:
bank.y.value_counts()

no     9137
yes    1160
Name: y, dtype: int64

### Q 1. Write a code to check the missing values present in the dataset.

In [4]:
def me():
    print("missing values in bank dataset is ",bank.isnull().sum())
me()

missing values in bank dataset is  age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

### Q 2. Write a user defined function to calculate the Inter quartile range for quantile values outside 25 to 75 range. And do the outlier capping for lower level with min value and for upper level with 'q3=1.5*iqr' value.

In [45]:
def remove_outlier(df_in, col_name):
    # Calculate quantile 1 using quantile(0.25)
    q1=df_in[col_name].quantile(0.25);
    # Calculate quantile 3
    q3=df_in[col_name].quantile(0.75);
    # Calculate IQR as difference of Quantile 3 and quantile 1
    iqr=q3-q1;
    # Find the lower bound using the min() function
    lower_bound=df_in[col_name].min();
    # Find the upper bound as quantile3 + 1.5*IQR
    upper_bound=q3+1.5*iqr;
    # Print the lower and upper bound of the column
    print("Lower bound is ",lower_bound);
    print("upper_bound is ",upper_bound);
    # Remove the values lying outside min and upper bound range
    df_out = df_in.loc[(df_in[col_name]>lower_bound & df_in[col_name]<upper_bound)];
    return df_out.all()

### Q 2.1 Using the above created function , remove the outlier from 'age' variables:

In [48]:
def me(bank):
    return remove_outlier(bank,'age');
bank = me(bank)

Lower bound is  18
upper_bound is  69.5

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Q 2.2 Using the above created function , remove the outlier from 'campaign' variables:

In [49]:
def me(bank):
    return remove_outlier(bank,'campaign')
bank = me(bank)

Lower bound is  1
upper_bound is  6.0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Q 2.3 Using the above created function , remove the outlier from 'duration' variables:

In [50]:
def me(bank):
    return remove_outlier(bank,'duration')
bank = me(bank)

Lower bound is  0
upper_bound is  663.0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Dividing dataset into two, on the basis of categorical and numerical.

In [51]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y']]

In [52]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'], axis=1)

### Q 3. Label encode the below mentioned categorical variable to numerical values.
``` ['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'] ```

In [55]:
from sklearn.preprocessing import LabelEncoder
def me(bank_cat):
    return bank_cat.apply(LabelEncoder().fit_transform);
bank_cat = me(bank_cat)
bank_cat.head()

,job,marital,default,education,loan,housing,contact,month,day_of_week,poutcome,y
0,1,1,0,2,2,0,1,6,3,1,0
1,0,2,0,6,0,0,0,6,4,1,0
2,4,1,0,6,2,2,0,0,0,1,0
3,0,1,1,3,0,2,1,6,2,1,0
4,0,2,0,3,0,2,0,4,3,1,1

### Combining the numerical and categorical dataset.

In [58]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)
bank_final.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,marital,default,education,loan,housing,contact,month,day_of_week,poutcome,y
0,46,329,3,999,0,1.1,93.994,-36.4,4.857,5191.0,...,1,0,2,2,0,1,6,3,1,0
1,29,132,2,999,0,-1.8,92.893,-46.2,1.281,5099.1,...,2,0,6,0,0,0,6,4,1,0
2,50,206,1,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,1,0,6,2,2,0,0,0,1,0
3,31,199,2,999,0,1.1,93.994,-36.4,4.860,5191.0,...,1,1,3,0,2,1,6,2,1,0
4,32,350,1,999,0,-2.9,92.963,-40.8,1.262,5076.2,...,2,0,3,0,2,0,4,3,1,1

### Q 4. Extract the independent columns to prepare X

In [72]:
X = pd.DataFrame()
def me():
    X=bank_final.loc[:,bank_final.columns != 'y']
    return X
X = me()

### Q 5. Extract dependent column into a dataframe 'y' for model prediction

In [73]:
y = pd.DataFrame()
def me():
    y=bank_final['y']
    return y
y = me()

### Q 6. Splitting X and y into train and test dataset

In [78]:
from sklearn.model_selection import train_test_split
def log():
    return train_test_split(X,y,test_size=0.25,random_state=0)
X_train, X_test, y_train, y_test = log()

### Check the shape of X an y of train dataset.

In [79]:
def me():
    print(X_train.shape)
    print(y_train.shape)
me()

(7722, 20)
(7722,)

### Check the shape of X and y of test dataset.

In [80]:
def me():
    print(X_test.shape)
    print(y_test.shape)
me()

(2575, 20)
(2575,)

### Q 7. Instantiate RandomForestClassifier using scikit-learn with (n_estimators=600)

In [81]:
from sklearn.ensemble import RandomForestClassifier
def me():
    rf= RandomForestClassifier(random_state=0)
    return rf
rf = me()

### Q 8. Fit the model

In [82]:
def me():
    return rf.fit(X_train,y_train);
me()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

### Q 9. Use the model for predictions

In [84]:
predictions_new = pd.DataFrame()
def me():
    predictions_new = rf.predict(X_test);
    return predictions_new
predictions_new = me()
predictions_new

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

### Q 10. Model evaluation using accuracy score

In [85]:
from sklearn.metrics import accuracy_score
def me():
    print("Accuracy model is ",accuracy_score(y_test,predictions_new))
me()

Accuracy model is  0.8963106796116505

### Q 11. Model evaluation using confusion matrix

In [86]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, predictions_new))
def me():
    # provide confusion matrix index name as['Actual No_Deposit','Actual Deposit']
    confusion_matrix.index = ['Actual No_Deposit','Actual Deposit'];
    # provide confusion matrix index name as['Predicted No_Deposit','Predicted Deposit']
    confusion_matrix.columns=['Predicted No_Deposit','Predicted Deposit'];
    # print the confusion matrix
    print(confusion_matrix);
me()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                  2203                 82
Actual Deposit                      185                105

### Q 12. Model evaluation using Precision score

In [87]:
from sklearn.metrics import precision_score
def me():
    print("Precision score is ",precision_score(y_test,predictions_new))
me()

Precision score is  0.5614973262032086

### Q 13. Model evaluation using Recall score

In [89]:
from sklearn.metrics import recall_score
def me():  
    recall = recall_score(y_test,predictions_new);
    print("Recall score is ",recall);
    return recall
recall = me()

Recall score is  0.3620689655172414

### Q 14. Model evaluation using F1-score

In [90]:
from sklearn.metrics import f1_score
def me():
    print("F1 score is ",f1_score(y_test,predictions_new));
me()

F1 score is  0.44025157232704404

### Q 15. Model evaluation using ROC_AUC score

In [91]:
from sklearn import metrics
def me():
    # predict class probabilites fro X_test
    probability = rf.predict_proba(X_test);
    # return the array value as pred
    pred = probability[:,1];
    # Compute roc_curve as fpr1, tpr1, threshold
    fpr1,tpr1,threshold = metrics.roc_curve(y_test,pred);
    # compute roc_auc as roc_auc1
    roc_auc1 = metrics.auc(fpr1,tpr1);
    return roc_auc1
me()

0.9052569229608389

### Q 16.1. Instantiate RandomForestClassifier using scikit-learn with (criterion='entropy',n_estimators = 100, random_state = 0, max_depth = 2, min_samples_split=4, min_samples_leaf=3, max_leaf_nodes=5, class_weight='balanced')

In [92]:
from sklearn.ensemble import RandomForestClassifier
def me():
    rfc = RandomForestClassifier(criterion='entropy',n_estimators = 100, random_state = 0,
    max_depth = 2, min_samples_split=4, min_samples_leaf=3, max_leaf_nodes=5, class_weight='balanced')
    return rfc
rfc = me()

### 16.2. Fit the model

In [93]:
def me():
    return rfc.fit(X_train,y_train)
me()

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='entropy', max_depth=2, max_features='auto',
                       max_leaf_nodes=5, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=3,
                       min_samples_split=4, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=None, oob_score=False,
                       random_state=0, verbose=0, warm_start=False)

### Q 16.3. Use the model for predictions

In [94]:
predictions = pd.DataFrame()
def me():
    predictions= rfc.predict(X_test)
    return predictions
predictions = me()

### Q 16.4. Model evaluation using accuracy score

In [95]:
from sklearn.metrics import accuracy_score
def me():
    print("Accuracy score is ",accuracy_score(y_test,predictions))
me()

Accuracy score is  0.836116504854369

### Q 16.5. Model evaluation using confusion matrix

In [96]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, predictions))
def me():
    # provide confusion matrix index name as['Actual No_Deposit','Actual Deposit']
    confusion_matrix.index = ['Actual No_Deposit','Actual Deposit'];
    # provide confusion matrix index name as['Predicted No_Deposit','Predicted Deposit']
    confusion_matrix.columns = ['Predicted No_Deposit','Predicted Deposit'];
    # print the confusion matrix
    print(confusion_matrix)
me()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                  1965                320
Actual Deposit                      102                188

### Q 16.6. Model evaluation using Precision score

In [97]:
from sklearn.metrics import precision_score
def me():
    print("Precision score is ",precision_score(y_test,predictions))
me()

Precision score is  0.3700787401574803

### Q 16.7. Model evaluation using Recall score

In [101]:
from sklearn.metrics import recall_score
def me():
    recall1 = recall_score(y_test,predictions);
    print("recall score is ",recall1);
    return recall1
recall1 = me()

recall score is  0.6482758620689655

### Q 16.8. Model evaluation using F1-score

In [102]:
from sklearn.metrics import f1_score
def me():
    print("F1 score is ",f1_score(y_test,predictions));
me()

F1 score is  0.4711779448621554

### Q 16.9. Model evaluation using ROC_AUC curve

In [104]:
from sklearn import metrics
def me():
    # predict class probabilites fro X_test
    prob = rfc.predict_proba(X_test);
    # return the array value as preds
    preds = prob[:,1];
    # Compute roc_curve as fpr, tpr, threshold
    fpr,tpr,threshold = metrics.roc_curve(y_test,preds);
    # compute roc_auc
    roc_auc = metrics.auc(fpr,tpr);
    return roc_auc
me()

0.8936014487285897

### Q 17. What is the inference you can draw from 2 different models on the basis of recall score (provide the absolute score).

In [106]:
def log():
    absoluteDiff = recall1-recall;
    print("Recall score of Model 1 is ",recall);
    print("Recall score of Model 2 is ",recall1);
    print("Absolute difference is ",absoluteDiff);
    return # created varibale
log()

Recall score of Model 1 is  0.3620689655172414
Recall score of Model 2 is  0.6482758620689655
Absolute difference is  0.2862068965517241

### Conclusion 
In this use case, the company stands to loose more if '__False Negative__' is not treated properly.
Recall value of our first model in __Q.no.- 13__ is way lower than the other model created in __Q.no.-16__.
Therefore, __second model__ is a better option for bank marketing.